/*About*/
.about-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 80px auto;
}

.about-text {
  height: 100%;
  position: relative;
}

.about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about-text h3 span {
  color: var(--skin-color);
}

.about-text p {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-black-700);
  margin-bottom: 20px;
}

.about-content-info {
  height: 70vh;
  position: relative;
  margin-right: 50px;
}

.scroll-animation {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.scroll-animation i {
  font-size: 30px;
  margin: 20px;
  padding: 8px;
  color: var(--text-black-700);
  background-color: var(--bg-black-900);
  border-radius: 5px;
  border: 1px solid var(--bg-black-50);
  transition: all 0.5s ease-in-out;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.scroll-animation i:hover {
  transform: scale(1.25);
  color: var(--skin-color);
  animation: none;
}
.personal-info {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}

.info-item {
  flex: 0 0 48%;
  max-width: 48%;
  margin-right: 10px;
}

.info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
}

.info-item p span a {
  color: var(--text-black-700);
}

.info-item p span a:hover {
  color: var(--skin-color);
}

.education,
.experience {
  flex: 0 0 48%;
  max-width: 48%;
  margin-top: 30px;
  margin-right: 15px;
}

.row-education {
  flex-wrap: nowrap;
}
.about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-item::before {
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.timeline-date .fa {
  margin-right: 5px;
}

.timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

@media (min-width: 1300px) {
  .about-text h3 {
    font-size: 28px;
  }
  .about-text {
    margin-top: 80px;
  }
  .info-item p {
    font-size: 18px;
  }
}
@media (max-width: 911px) {
  .scroll-animation i {
    margin: -10px;
  }
}
@media (max-width: 767px) {
  .about .about-block .section-title {
    padding-left: 0;
  }
  .about-content,
  .experience,
  .education,
  .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .about-content-info {
    height: 100%;
  }
  .info-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .scroll-animation {
    display: none;
  }
  .timeline-item {
    padding-left: 20px;
  }
  .btn-about {
    margin: auto;
  }
}
