/*Aside*/
.aside {
  width: 250px;
  background: var(--bg-black-100);
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--bg-black-50);
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.aside .logo img {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 200px;
  height: 170px;
}

.aside .nav-toggler {
  text-align: center;
  height: 40px;
  width: 40px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  right: 280px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler span::before {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler span::after {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.aside .nav {
  margin-top: 40px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

@media (min-width: 1300px) {
  .aside {
    width: 350px;
  }

  .aside .logo img {
    top: 10%;
    left: 15%;
    width: 250px;
    height: 220px;
  }
}
@media (max-width: 991px) {
  .aside {
    right: -300px;
  }
  .aside.open {
    right: 0;
  }
  .aside .logo img {
    width: 230px;
    height: 200px;
  }
  .aside .nav-toggler {
    display: flex;
    right: 30px;
  }
  .aside .nav-toggler.open {
    right: 300px;
  }
}
