/*Home*/
.home-block {
  max-width: 1300px;
  margin: 90px auto 0;
  display: flex;
  color: var(--text-black-700);
  overflow: hidden;
}

.home .home-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%; /*le texte occupera 60% de l'espace disponible*/
  max-width: 60%;
  margin-right: 20px;
}

h3.hello {
  font-size: 24px;
}

h3.hello span {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  font-weight: 600;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 22px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  font-size: 18px;
  color: var(--text-black-700);
  padding-right: 20px;
}

.home .home-img {
  display: flex;
  flex: 0 0 30%; /*le texte occupera 65% de l'espace disponible*/
  max-width: 30%;
  margin-right: 40px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.home-img-animation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 85%;
  max-width: 263px;
  height: 385px;
  border: 20px solid var(--skin-color);
}

.home-img-animation img {
  position: relative;
  height: 380px;
  width: 230px;
  z-index: 10;
  margin-top: -25px;
}

@media (min-width: 1300px) {
  .home-block {
    height: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .home-img-animation {
    margin-top: -70px;
  }
  h3.hello {
    font-size: 26px;
  }

  h3.hello span {
    font-size: 44px;
    padding-left: 15px;
  }

  h3.my-profession {
    font-size: 24px;
    margin: 15px 0;
  }
  .home-info p {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .home .home-info {
    flex-direction: column;
  }
  h3.hello {
    font-size: 20px;
  }
  h3.hello span {
    font-size: 34px;
  }
}

@media (max-width: 1078px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}

@media (max-width: 450px) {
  .home-block {
    margin-top: 150px;
  }
}
